[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django="*"
whitenoise="*"
python-decouple="*"
requests="*"
psycopg2="*"
djangorestframework="*"
djangorestframework-simplejwt="*"
django-solo="*"
django-storages="*"
django-cors-headers="*"
django-filter="*"
django-positions="*"
boto3="*"

[dev-packages]
black="*"
isort="*"
pytest="*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"